.driverAttendance-table1 thead th {
  position: sticky;
  top: 0;
  /* z-index: 10; */
  background: #8939ff;
  color: #fff;
  border: 1px solid #e5e7eb;
  text-align: center;
  padding: 6px;
}

.page-header{
  border: 1px solid #fff;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 20px 20px 50px grey;
    width: 100%;
    padding-top: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
}